/* ============================================= */
/*                  768px                         */
/* ============================================= */

@media (min-width: 768px) {
    body {
        grid-template-columns: 55px 1fr; 
        grid-template-rows: 1fr auto;
        grid-template-areas:
        "header header"
        "nav main";
    }
    nav {
        grid-template-columns: 55px;
        grid-template-rows: repeat(4, 50px);
        padding: 10px 0;
    }
    main {
        grid-template-columns: 50% 50%;
    }
    .alert {
        grid-column: 1/ span 2;
    }
    .alert-banner {
        text-align: left;
        margin-left: 10px;
    }
    .traffic-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .widget-container-full {
        width: 90vw;
        margin: auto;
    }
    .widget-container-half { 
        width: 45vw;
    }
    .main-header, .traffic, .social-stats {
        grid-column: 1/ span 2;
    }
    .daily-traffic {
        grid-column: 1/ span 1;
        border-right: 1px solid $grey;
    }
    .mobile-users {
        grid-column: 2/ span 1;
    }
    .recent-activity, .settings, .members, .message {
        grid-column: 1/ span 2;
    }
    .social-stats{
        padding-bottom: 20px;
    }
    .social-container {
        width: 95%;
        margin: auto;
        padding-left: 10px;
    }
    .social-stat-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .social-image {
        width: 60px;
        height: 60px;
    }
    .social-title {
        font-size: 1.2rem;
    }
    .social-text {
        margin: auto auto auto 5px;
    }
    .member-numbers {
        font-size: 2rem;
    }
    .members-container {
        width: 95%;
        padding: 20px 0;
        display: grid;
        grid-template-columns: 70px auto 70px;
    }
    .arrow {
        display: flex;
        margin: auto auto auto 50px;
        font-size: 1.2rem;
        color: $color-primary
    }
    .members-text {
        text-align: left;
        margin: auto 0 auto 15px;
    }
    .date {
        margin: auto;
    }
    .form-field,
    .form-area,
    #send  {
        width: 95%;
        margin: 10px auto;
    }
    .toggle-settings {
        grid-template-columns: 1fr 2fr;
    }
    .on-off-label {
        left: 30px;
    }
    #email,
    #public {
        margin-left: 10px;
    }
    .settings-button {
        margin-left: 2.5%;
    }
    #save,
    #cancel {
        width: 90%;
    }
}

/* ============================================= */
/*                  1024px                         */
/* ============================================= */

@media (min-width: 1024px) {
    .traffic {
        margin: auto;
    }
    .daily-traffic, .members, .message {
        grid-column: 1/ span 1;
    }
    .mobile-users, .recent-activity, .settings {
        grid-column: 2/ span 2;
    }
    .recent-activity{
        border-left: 1px solid $grey;
    }
    .toggle-settings {
        grid-template-columns: repeat(2, 1fr);
    }
    #timezone {
        margin-top: 39px;
        margin-bottom: 15px;
    }
    #email,
    #public {
        margin-left: 10px;
    }
    .settings-button {
        margin-top: 15px;
    }
    section:last-of-type {
        padding-bottom: 0;
        border-left: 1px solid $grey;
    }
    .message {
        border-bottom: none;
    }
}