/* ============================================= */
/*              Variables                        */
/* ============================================= */

$color-primary: #7477bf;
$color-secondary: #4d4c72;
$color-tertiary: #51b6c8;
$color-quarternary: #81c98f;
$white: #fff;
$grey: #cdcdcd;
$light-grey: #f5f5f5;