/* ============================================= */
/*         Exit Button on Alert Flag             */
/* ============================================= */

#exit-btn {
    border: none;
    background-color: transparent;
    color: $white;
    margin-top: 10px;
    margin-left: 90%;
}