/* ============================================= */
/*         Exit Button on Alert Flag             */
/* ============================================= */

.alert-banner-close {
    border: none;
    background-color: transparent;
    color: $white;
    margin-top: 10px;
    margin-left: 90%;
}

/* ============================================= */
/*                  Setting Buttons              */
/* ============================================= */

input {
    -webkit-appearance: none;
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background-color: $grey;
    transition: background .3s;
    outline: none;
    cursor: pointer;
}

input::after {
    content: "off";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25em;
    width: 1.25em;
    background-color: $white;
    transition: left .3s;
}

input:checked {
    background-color: $color-primary;
}

input:checked::after {
    left: 70%;
    content: "on"
}

/* ============================================= */
/*                  Form Buttons                 */
/* ============================================= */

.button-primary {
    display: block;
    height: 50px;
    border: 1px solid $color-primary;
    border-radius: 5px;
    background-color: $color-primary;
    color: $white;
    text-transform: uppercase;
}

#send {
    width: 90%;
    margin: auto auto 15px auto;
}

.settings-button {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
}

#save {
    width: 80%;
}

#cancel {
    width: 80%;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: grey;
    color: $white;
    text-transform: uppercase;
}