/* ============================================= */
/*                  Images                       */
/* ============================================= */

.profile-img {
    border-radius: 50%;
    width: 40px;
    margin: auto 5px;
}

.profile-image {
    width: 70px;
    border-radius: 50%;
    margin: auto;
}

/* ============================================= */
/*                  Widgets                      */
/* ============================================= */

.widget-container-full, .widget-container-half { 
    width: 95vw;
}