/* ============================================= */
/*                  Main Nav                     */
/* ============================================= */
nav {
    padding: 10px 10% 10px;
    display: grid;
    grid-area: nav;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

nav a {
    padding-left: 7px;
    margin: auto;
}

/* ============================================= */
/*              Traffic Subnav                   */
/* ============================================= */

.traffic-nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.traffic-nav-link {
    margin: auto;
    text-align: center;
}

.traffic-nav-link-selected {
    width: auto;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: $color-quarternary;
    color: $white;
}