/* ============================================= */
/*              Traffic Subnav                   */
/* ============================================= */

.traffic-nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.traffic-nav-link {
    margin: auto;
}

.traffic-nav-link-selected {
    width: auto;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: $color-quarternary;
    color: $white;
}