/* ============================================= */
/*              Notification Bell                */
/* ============================================= */

.bell-container {
    width: 100%;
    display: flex;
    justify-content: right;
    border-right: 1px solid $white;
}

.notification-bell {
    margin: auto;
}

#notifications {
    display: none;
}

.bell {
    fill: $white;
}

.notify {
    stroke: $color-quarternary;
    fill: $color-quarternary;
}

/* ============================================= */
/*              Nav Icons                       */
/* ============================================= */

.nav-icon {
    width: 40px;
    fill: $white;
}

/* ============================================= */
/*              Social Media Icons               */
/* ============================================= */

.social-image {
    width: 80px;
    height: auto;
    fill: $white;
    background-color: $color-primary;
    border-radius: 50%;
    margin: 0 auto;
}