/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: visible;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main";
}

header {
    width: 100vw;
    display: grid;
    grid-area: header;
    grid-template-columns: 2fr 50px minmax(auto, 150px);
    padding: 10px 5px;
}

h1 {
    margin: auto 0 auto 5px;
}

main {
    display: grid;
    grid-area: main;
}

.profile-tag {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    border-left: 1px solid $white;
}

.bell-container {
    margin-left: auto;
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 50px;
}

.headline {
    width: 100%;
    margin: auto;
}

.tab {
    border-left: 1px solid $grey;
    border-bottom: 1px solid $grey;
    background-color: $light-grey;
}

.alert {
    border: 1px solid $color-primary;
    background-color: $color-primary;
    color: $white;
    border-radius: 5px;
    height: 40px;
    width: 95%;
    margin: 20px auto;
}

.alert-banner {
    display: grid;
    grid-template-columns: auto minmax(10px, 30px);
    grid-template-rows: 20px;
    margin-top: 9px;
    text-align: center;
}

section {
    border-bottom: 1px solid $grey;
}

section:last-of-type {
    border-bottom: none;
    padding-bottom: 20px;
}

.traffic,
.daily-traffic,
.mobile-users {
    padding-bottom: 20px;
}

h3 {
    margin: 20px 15px 10px;
}

.traffic {
    width: 100%;
}

.social-container {
    border: 1px solid $grey;
    background-color: $light-grey;
    border-radius: 5px;
    width: 90%;
    margin: 15px auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.members-container {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    border-bottom: 1px solid $grey;
    display: flex;
    flex-direction: column;
}

.members-container:last-of-type {
    border-bottom: none;
}

.arrow {
    display: none;
}