/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: visible;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main";
}

header {
    width: 100vw;
    height: 80px;
    display: grid;
    grid-area: header;
    grid-template-columns: 2fr 50px minmax(auto, 170px);
    padding: 10px 5px;
}

h1 {
    margin: auto 0 auto 5px;
}

nav {
    padding: 10px 10% 10px;
    display: grid;
    grid-area: nav;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

a {
    margin: auto;
}

main {
    display: grid;
    grid-area: main;
}

.profile-tag {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    margin-left: auto;

}

.bell-container {
    margin-left: auto;
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 50px;
}

.headline {
    width: 100%;
    margin: auto;
}

.tab {
    border-left: 1px solid $grey;
    border-bottom: 1px solid $grey;
    background-color: $light-grey;
}

.alert {
    border: 1px solid $color-primary;
    background-color: $color-primary;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    margin: 20px auto;
    display: none;
}

section {
    border-bottom: 1px solid $grey;
}

section:last-of-type {
    border-bottom: none;
    padding-bottom: 25px;
}

h3 {
    margin: 20px 15px 10px;
}

.traffic {
    width: 100%;
}

.social-container {
    border: 1px solid $grey;
    background-color: $light-grey;
    border-radius: 5px;
    width: 90%;
    margin: 15px auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.members-container {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    border-bottom: 1px solid $grey;
    display: flex;
    flex-direction: column;
}

.members-container:last-of-type {
    border-bottom: none;
}