/* ============================================= */
/*              Typography                      */
/* ============================================= */

* {
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: 300;
}

header {
    background-color: $color-primary;
    color: $white;
    vertical-align: middle;
}

h1 {
    font-size: 1.4rem;
}

span {
    font-weight: 500;
}

nav{
    background-color: $color-secondary;
}

.profile-name {
    font-size: .8rem;
    margin: auto 0;
    display: flex;
    flex-direction: column;
}

.headline {
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
}

h3 {
    font-weight: 400;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.social-title {
    color: $color-primary;
    font-size: 1.5rem;
    font-weight: 400;
}

.member-numbers {
    color: grey;
    font-size: 3rem;
    font-weight: 300;
}

.social-text{
    margin-left: 10px;
}

.members-text {
    text-align: center;
}

.members-text a {
    text-decoration: none;
    color: $color-primary;
}

.date {
    text-align: center;
}